.ItemForm{
    width: 450px;
    float: left;
    display: block;
}
.ItemForm .Field{
    margin: 15px 0px 15px 0px;
    width: 400px;
    text-align: right;   
}

.ItemForm .Field label{
    width: 450px;  
    display: inline-block;
}

.ItemForm .Field input{
    width: 300px;  
}

.ItemForm .Field textarea{
    width: 300px;  
}

.ItemForm .Field .ErrorText{
    width: 250px;
    color: rgb(245, 8, 8);
    display: inline-block; 
    text-align: left;
}

.ItemForm img{
    max-width: 150px;
    max-height: 150px;
}